<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Document</title>
    <style>
        .update{
            background-color: orange;
        }

    </style>
</head>

<body>
    <h1>edit post</h1>
    <h4>you can edit post</h4>
    <form action="/update/<%=post._id%>" method="post">
        <textarea placeholder="whats in your mind" name="content" id="textbox"><%= post.content %></textarea>
        <input type="submit" value="update" name="update" class="update">
    </form>
</body>

</html>