<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <h1>user login</h1>
        <form action="/login" method="post">
            <input class="input email" type="email" placeholder="email" name="email">
            <input class="input password" type="password" placeholder="password" name="password">
            <input class="submit" type="submit" value="login">
        </form>
</body>

</html>
