<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Document</title>
</head>

<body>
    <a href="/read">go to read routes</a>
    <h1>create user</h1>
        <form action="/create" method="post">
            <input class="input name" type="text" placeholder="name" name="name">
            <input class="input email" type="email" placeholder="email" name="email">
            <input class="input image" type="text" placeholder="url" name="image">
            <input class="submit" type="submit" value="create">
        </form>
</body>

</html>