<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Document</title>
</head>

<body>
    <h1>create user</h1>
        <form action="/create" method="post">
            <input class="input name" type="text" placeholder="username" name="username">
            <input class="input email" type="email" placeholder="email" name="email">
            <input class="input password" type="password" placeholder="password" name="password">
            <input class="input age" type="number" placeholder="age" name="age">
            <input class="submit" type="submit" value="create">
        </form>
</body>

</html>
